<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.archibook.main.mapper.RecommendMapper">
	<insert id="insertRecommend" parameterType="RecommendDTO">
		INSERT INTO book_recommend(
			  recommend_id
			, account_id
			, isbn
		) VALUES (
			#{recommend_id}
			, #{account_id}
			, #{isbn}
		)
	</insert>
	
	<select id="selectRecommendList" parameterType="String" resultType="RecommendDTO">
		SELECT
			  DISTINCT
			, book_recommend.account_id
			, book_recommend.isbn
			, book_info.title
			, book_info.author
			, book_info.publisher
			, book_info.date_published
			, book_info.image_url
		FROM
			book_recommend, member, book_info
		WHERE 
			(book_recommend.isbn = book_info.isbn)
		AND
			(book_recommend.account_id = member.account_id)
		AND
			(book_recommend.account_id = #{account_id})
		ORDER BY
			recommend_id DESC
	</select>
</mapper>